@import './settings';
@import './List/index';
@import './List/Product/index';

#root {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    width: 100vw;
    height: 100vh;
    background-color: #DBDBDB;
}

.app {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 700px;
    margin: 16px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 12px 16px 16px rgba(30, 30, 38, 0.2);
    background-color: $main-color;

    .window-options {
        position: absolute;
        top: 10px;
        left: 10px;
    }
}

.title {
    display: flex;
    justify-content: space-between;
    font-size: 300%;
    background-color: $second-color;
    padding: 5%;

    .title-first {
        display: flex;
        color: white;

        &:hover {
            background: $main-gradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .title-second {
        background: $main-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .panierButton {
        display: flex;
        padding: 2%;
        justify-content: space-around;
        border-radius: 4px;
        align-items: center;
        background: $main-gradient;
        color: white;
        font-size: x-large;

        img{
            width: 25px;
            height: auto;
            margin-left: 10%;
        }

        &:hover{
            background: $main-gradient-hover;
        }
    }
}

.content {
    height: 100%;
    padding: 1%;
}