.productContainer {
    background-color: $second-color;
    border-radius: 4px;
    width: 27.3%;
    color: white;
    margin: 2%;
    padding: 1%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .nomProduct {
        font-weight: bold;
        font-size: larger;
        background: $main-gradient;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .descProduct {
        color: lightgrey;
    }

    img {
        width: 150px;
        margin: 3%;
    }

    .prixInput {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1%;
        margin-top: 10%;
        font-size: x-large;

        .addRemoveButton{
            display: flex;
            justify-content: flex-end;
            width: 40%;
            align-items: center;
            font-size: large;

            input {
                border-radius: 4px;
                border: none;
                color: white;
                align-items: center;
                background: $main-gradient;
                display: flex;
                justify-content: center;
                margin-left: 10%;
                margin-right: 10%;
                font-size: large;
    
                &:hover {
                    background: $main-gradient-hover;
                }
            }
        }
    }
}